.add-task {
  padding: 10px 12px 0 12px;
}
.header {
  background: #f3f5fa;
}

.header h1 {
  padding: 20px 12px 20px 12px;
}


.container-list {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.list {
  flex-basis: 70%;
  background: #f3f5fa;
  padding: 20px;
}

.image-container {
  flex-basis: 40%;
  padding: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

